name: Python

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install radare2 6.0.4
      run: |
        wget https://github.com/radareorg/radare2/releases/download/6.0.4/radare2_6.0.4_amd64.deb
        sudo dpkg -i radare2_6.0.4_amd64.deb
        r2 -v
    - name: Test the r2api
      run: sudo make -C python test || true
#run: rarun2 timeout=10 system="make -C python test"
